* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    caption {
        font-size: 1.5em;
        margin: 10px;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    th {
        font-size: 1em;
    }
}

@media screen and (max-width: 640px) {
    table {
        border: 0;

        thead {
            position: absolute;
            width: 1px;
            height: 1px;
            border: none;
            overflow: hidden;
        }

        tr {
            display: block;
            border-bottom: 3px solid #f4f4f4;
            margin-bottom: 10px;
        }

        td {
            display: block;
            border-bottom: 1px solid #f4f4f4;
            text-align: right;

            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}